---

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<a href="/">首页</a>
		<hr>
		<a href="/about">关于</a>
        <hr>
        <a href="/blog">博客</a>
		
		<h1>我的 Astro 站点</h1>
	</body>
</html>


<style>

</style>
