---
// 引入Navigation组件
import Navigation from "./Navigation.astro";
// Hamburger 组件
import Hamburger from "./Hamburger.astro";
---

<header>
    <nav>
        <Hamburger/>
        <Navigation/>
    </nav>
</header>
