---
// 引入Navigation组件
import Navigation from "./Navigation.astro";
// Hamburger 组件
import Hamburger from "./Hamburger.astro";
// 引入ThemeIcon 主体切换组件
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <nav>
        <Hamburger/>
        <ThemeIcon/>
        <Navigation/>
    </nav>
</header>
